<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="RestAPI">
    <classes>
      <class name="DemoClass.Basics"/>
      <class name="DemoClass.Basics2"/>
      <class name="DemoClass.Basics3"/>
      <class name="DemoClass.Basics8"/>
      <class name="DemoClass.Basics9"/>
      <class name="DemoClass.Basics4"/>
      <class name="DemoClass.Basics5"/>
      <class name="DemoClass.Basics6"/>
      <class name="DemoClass.Basics7"/>
    </classes>
  </test> <!-- RestAPI -->
</suite> <!-- Suite -->
